
/* Lines with a variable that does not exist (set to null) will be erased
/* (this is why there are duplicate color: lines)

@media screen and (max-device-aspect-ratio: 99/100)
  pre
    font-size: 170%
  table
    font-size: 150%
  @if $use-nav
    .container
      padding: 0 20px
  @else
    body
      padding: 0 20px
  body
    font-size: 24px
    padding: 0 20px

@media screen and (min-device-aspect-ratio: 100/99)
  @if $use-nav
    .container
      max-width: $width-body
      padding: 0 $padding-body
  @else
    body
      max-width: $width-body
      padding: 0 $padding-body

  body
    font-size: 20px
  pre
    font-size: 80%

body
  margin: 0px

@if $use-nav
  .container
    margin: auto
@else
  body
    margin: auto

body
  font-family: $font-body
  line-height: 1.4
  background: $background-body
  color: tweak($background-body, 85%)
  color: $color-body

pre
  line-height: 110%

a
  text-decoration: none

a:hover
  text-decoration: underline

h1, h2, h3
  color: tweak($background-body, 85%)
  color: $color-header
  font-family: $font-heading
  line-height: 1.2

tr:nth-child(even)
  color: tweak($background-body, 100%)
  color: tweak($background-table, 100%)
  background: $background-table

tr:nth-child(odd)
  color: tweak($background-body, 100%)
  color: tweak($background-table, 100%)
  background: tweak($background-table, 5%)

table
  width: 100%

th
  text-align: left
  color: tweak($background-body, 100%)
  color: tweak(tweak($background-table, 20%), 100%)
  color: tweak($background-table-header, 100%)
  color: $color-table
  color: $color-table-header
  background: tweak($background-table, 20%)
  background: $background-table-header

th, td
  padding: 5px

pre
  color: tweak($background-body, 100%)
  color: tweak($background-pre, 100%)
  color: $color-pre
  background: $background-pre

code
  color: tweak($background-body, 100%)
  color: tweak($background-code, 100%)
  color: $color-code
  background: $background-code
